
# BEGIN WordPress
<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /texviet/demo3/property
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.)([A-Za-z0-9-_]+)/(.*\.(jpg|gif|png))$ /texviet/demo3/property/$1/$1$2/$3 [L]
RewriteRule ^(.)([A-Za-z0-9-_/\.]+)/$ /texviet/demo3/property/$1/$1$2/index.html [L]
RewriteRule ^(.)([A-Za-z0-9]+)$ /texviet/demo3/property/$1/$1$2 [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
#RewriteRule ^.*$ / [NC,L,R=301]


</IfModule>
#ErrorDocument 404 /index.html [L]
# END WordPress
