<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">{{Langs._title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{siteurl}}">Home <span class="sr-only">(current)</span></a>
                </li>
               
				<li class="nav-item dropdown">				
				  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">News Cat</a>
				  <ul class="dropdown-menu">
					
					<li ng-repeat="i,cat in NewsCats" ><a href="{{siteurl}}{{cat.Slug}}/">{{cat.Name}} </a></li>
					
					
				  </ul>
				</li>
                <li class="nav-item dropdown">              
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Prod Cat{{Configs.noc_menu}}</a>
                  <ul class="dropdown-menu">
                    
                    <li ng-repeat="i,cat in ProdCats" ng-show="i<Configs.noc_menu"><a href="{{siteurl}}{{cat.Slug}}/">{{cat.Name}} </a></li>
                    
                    
                  </ul>
                </li>
				 <li class="nav-item">
                    <a class="nav-link" href="{{siteurl}}?page=about">About</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="{{siteurl}}?page=contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>